//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   
    
  }
  
  @mixin styles_tablets () {
     
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: column;

    padding: 5px;

    .windTittle{

      font-size: 15px;
    }


    figure{

      width: 100%;
      height: 100px;

      display: flex;
      justify-content: center;


      img{

        width: 30%;
        height: 50px;


      }
    }

    .windAndTime{

      height: 50px;

      padding: 5px;

      display: flex;
      justify-content: space-between;

     
    }


   

  }
  
  @mixin styles_desktop () { 

    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;

    padding: 5px;

    .windTittle{

      font-size: 15px;
    }


    figure{

      width: 100%;
      height: 100px;

      display: flex;
      justify-content: center;


      img{

        width: 20%;
        height: 50px;


      }
    }

    .windAndTime{

      height: 50px;

      padding: 5px;

      display: flex;
      justify-content: space-between;

     
    }


  } 
  
  
  
  
  .windStatusWrapper{

    
    border-radius: 15px;
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }