//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   
    
  }
  
  @mixin styles_tablets () {
     
   
    width: 100%;
    height: 70px;

    border: 1px solid yellow;
    border-radius: 15px;


   

  }
  
  @mixin styles_desktop () {

    width: 90%;
    height: 85px;

    padding: 5px;
    
    margin-top: 20px;

    border-top: 1px solid gray;
    

    .humidity{

      font-size: 15px;
    }
    
    .humidityAndDewPoint{

      display: flex;
      justify-content: space-between;

      .feelsLikeWrapper{

        width: 100px;
        height: 50px;

        display: flex;
        justify-content: space-around;

        

        img{

          width: 50px;
          height: 40px; 

        }

        .feelslike{

          margin-right: 20px;
          margin-top: 10px; 
        }

      }
      
  
      .dewPoint{
  
        font-size: 15px;
      }



    }

    
    

  }
  
  
  
  
  .humidityWrapper{
    
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }