//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   
    
  }
  
  @mixin styles_tablets () {
     
    
    width: 100%;
    height: 100%;

    margin-top: 5px;
    margin-bottom: 5px;
    
    padding: 5px;

    display: flex;

    border-radius: 15px; 


  }
  
  @mixin styles_desktop () {
 

    width: 100%;
    height: 100%;

    margin-top: 5px;
    margin-bottom: 5px;
    
    padding: 5px;

    border-radius: 15px; 



  }
  
   
  
  
  .sunriseContainer{
    
    background-image: linear-gradient(to bottom right, #5e5555, #0d1a27); 
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }