//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   
    
  }
  
  @mixin styles_tablets () {
     
    
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;

   

  }
  
  @mixin styles_desktop () {

   
    
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;

    .sunriseTittle{

      font-size: 15px;

      padding: 5px;
    }

    
    .gifWrapper{

      width: 100%;
      height: 100px;

      display: flex;
      justify-content: center;


      img{

        width: 20%;
        height: 50px;


      }
    

    }

    .sunriseDescriptions{
      

      display: flex;

      font-size: 13px;

  

    }

  }
  
  
  
  
  .sunriseWrapper{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }