//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

    width: 100%;
    height: 50vh;
    
    padding: 20px;
      
    color: rgb(232, 248, 3);
    border: 1px solid rgb(5, 9, 245);

    border: 1px solid red;

    .currentWeatherImage{

      width: 40%;

      margin: auto;


      border: 1px solid blue; 

      img{
        width: 100px; 
        height: 100%;
      }

    }

    .currentWeatherInfo{
      text-align: center;

      color: black;

    }


    .currentWeatherfeatures{
      display: flex;
      
      
      border: 1px solid rgb(250, 246, 8);

      .pop{
        width: 50%;
      }

      .wind{
        width: 50%;
      }

    }
    
  }
  
  @mixin styles_tablets () {
     
    width: 90%; 
    height: 40vh;     
    
    padding: 20px;
    margin-top: 10px;  

      
    border: none;
    border-radius: 15px;

    //content: "";
    //position: absolute;
    top: 0;
    left: 0;
   
    background-image: linear-gradient(to bottom right, #333, #23476b, #666666, #999999);

    
    //z-index: -1; 
    
    .currentWeatherImage{

      width: 100%; 
      height: 100px;

      
      text-align: center;
  

      .imageWeather{

        width: 50%;    
        height: 100px;
        
        
        
      }

    }

    .currentWeatherInfo{
      
      width: 100%; 


      display: flex;
      justify-content: space-around;

      font-size: 16px;


      .weatherCondition{ 

      

      };

      .temperature{
        
       
      }

    } 

    .currentWeatherDateInfo{
      
      width: 100%;
      height: 50px;
      
   

      h6{

        b{

          font-size: 15px; 

        }


      }

      .currentWeatherTitle{
        font-size: 15px;
      }
      
    }


   

    .currentWeatherfeatures{

      width: 50%;

      display: flex;

      font-size: 18px; 
      text-align: center;
      

      position: relative;
      right: 5%;
      top: 30%;
      
      
      border: 1px solid rgb(250, 246, 8);

      .pop{ 
        width: 50%;
        
      }

      .wind{
        width: 50%;
      }

    }
  } 
  
  @mixin styles_desktop () {
    
    width: 100%; 
    min-height: 30vh; 
    max-height: 55vh;  
    
    padding: 20px; 
    margin-top: 10px;  

      
    border: none;
    border-radius: 15px;

    //content: "";
    //position: absolute;
    top: 0;
    left: 0;
   
    background-image: linear-gradient(to bottom right, #333, #23476b, #666666, #999999);

    
    //z-index: -1; 
    
    .currentWeatherImage{

      width: 100%; 
      height: 100px;

      
      text-align: center;
  

      .imageWeather{

        width: 50%;    
        height: 100px;
        
        
        
      }

    }

    .currentWeatherInfo{
      
      width: 100%; 


      display: flex;
      justify-content: space-around;

      font-size: 16px;


      .weatherCondition{ 

      

      };

      .temperature{
        
       
      }

    } 

    .currentWeatherDateInfo{
      
      width: 100%;
      height: 50px;
      
   

      h6{

        b{

          font-size: 15px; 

        }


      }

      .currentWeatherTitle{
        font-size: 15px;
      }
      
    }


   

    .currentWeatherfeatures{

      width: 50%;

      display: flex;

      font-size: 18px; 
      text-align: center;
      

      position: relative;
      right: 5%;
      top: 30%;
      
      
      border: 1px solid rgb(250, 246, 8);

      .pop{ 
        width: 50%;
        
      }

      .wind{
        width: 50%;
      }

    }

  }
  
  
  
  
  .currentWeatherWrapper{

    color: wheat; 
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }