//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

    width: 100%;
    height: 50vh;
    
    padding: 20px;
      
    color: rgb(232, 248, 3);
    border: 1px solid rgb(5, 9, 245);

    border: 1px solid red;

    .currentWeatherImage{

      width: 40%;

      margin: auto;


      border: 1px solid blue; 

      img{
        width: 100px; 
        height: 100%;
      }

    }

    .currentWeatherInfo{
      text-align: center;

      color: black;

    }


    .currentWeatherfeatures{
      display: flex;
      
      
      border: 1px solid rgb(250, 246, 8);

      .pop{
        width: 50%;
      }

      .wind{
        width: 50%;
      }

    }
    
  }
  
  @mixin styles_tablets () {
     
    width: 100%;
    height: 50vh;
    
    padding: 20px;
      
    color: black;
    border: 1px solid rgb(5, 9, 245);

    border: 1px solid red;

    .currentWeatherDateInfo{

      h6{

        b{

          font-size: 20px; /* Adjust the font size as needed */

        }


      }

      .currentWeatherTitle{
        font-size: 30px;
      }


      
    }


    

    .currentWeatherImage{

      width: 40%;
      height: 200px;

      margin: auto;


      border: 1px solid blue; 

      img{
        width: 200px; 
        height: 100%;

        
      }

    }

    .currentWeatherInfo{
      text-align: center;
      font-size: 25px;


      color: black;

      .weatherCondition{

        font-size: 40px;

      };

      .temperature{

        font-size: 40px;
      }

    }


    .currentWeatherfeatures{

      display: flex;

      font-size: 30px;
      color: black;
      text-align: center;
      
      
      border: 1px solid rgb(250, 246, 8);

      .pop{ 
        width: 50%;
        
      }

      .wind{
        width: 50%;
      }

    }
  }
  
  @mixin styles_desktop () {
    
    width: 100%;
    height: 60vh; 
    
    padding: 20px;

    display: flex;
    
    justify-content: center;
    align-items: center;

    position: relative;
      
    color: black;

    border: 1px solid rgb(139, 238, 9);

    .currentWeatherDateInfo{
      
      width: 500px;

      

      position: relative;
      top: -30%;
      
      border: 1px solid rgb(98, 238, 5);

      h6{

        b{

          font-size: 18px; 

        }


      }

      .currentWeatherTitle{
        font-size: 30px;
      }
      
    }

    .currentWeatherImage{

      width: 30%;
      height: 150px;

      display: flex;
      justify-content: center;

      position: relative;
      left: 10%;
      top: -20%;  


      border: 1px solid blue; 

      img{

        width: auto; 
        height: 100%;
        
      }

    }

    .currentWeatherInfo{
      
      width: 500px;
      text-align: center;
      font-size: 18px;     


      display: flex;
      justify-content: space-around;

      position: relative;
      left: -45%;
      top: 30%;

      border: 1px solid rgb(245, 5, 5);

      color: black;

      .weatherCondition{

        

      };

      .temperature{

       
      }

    }

    .currentWeatherfeatures{

      width: 50%;

      display: flex;

      font-size: 18px; 
      text-align: center;
      color: black;

      position: relative;
      right: 5%;
      top: 30%;
      
      
      border: 1px solid rgb(250, 246, 8);

      .pop{ 
        width: 50%;
        
      }

      .wind{
        width: 50%;
      }

    }

  }
  
  
  
  
  .currentWeatherWrapper{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }