//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   display: flex;
   flex-direction: column;

   .wrapper{
    
    width: 100%;

    display: flex;

    border: 1px solid red;

   }
    
    
  }
  
  @mixin styles_tablets () {

    display: flex;
    flex-direction: column;

    height: 20vh;
    padding: 5px;

    margin-top: 10px;

 
    
    border: none;
    border-radius: 15px;
 
    .predictionTittle{

     font-size: 15px;
    }

    .wrapper{

      width: 100%;
      height: 100px;

      display: flex;
      justify-content: space-around;
     
      font-size: 13px;
 
      div{

        padding: 10px;

        display: flex;
        flex-direction: column;
 
        .imageStatePredictionWeather{
  
         
  
          width: 100px; 
          height: 60px;
  
          
  
          img{
            width: 70px;
            height: 60px;
  
            padding: 10px;
          }
  
          
        }
    


      }
     

     
    }
   
  }
  
  @mixin styles_desktop () {

    display: flex;
    flex-direction: column;

    height: 25vh;
    padding: 10px;

    margin-top: 10px;

 
    
    border: none;
    border-radius: 15px;
 
    .predictionTittle{

     font-size: 15px;
    }

    .wrapper{

      width: 100%;
      height: 100px;

      display: flex;
      justify-content: center;
     
      font-size: 15px;

      div{

        padding: 10px;
        display: flex;
        

        

        .imageStatePredictionWeather{
   
  
          width: 100px; 
          height: 60px;
  
  
  
          img{
  
            width: 70px;
            height: 60px;
  
            padding: 10px;
          }
  
          
        } 

      }

  
     
    }

  }
  
  
  
  
  .ParentpredictionWeatherContainer{
    
    background-image: linear-gradient(to bottom right, #333, #23476b, #666666, #999999);
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }