//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   display: flex;
   flex-direction: column;

   .wrapper{
    width: 100%;

    display: flex;

    border: 1px solid red;

   }
    
    
  }
  
  @mixin styles_tablets () {
   
  }
  
  @mixin styles_desktop () {
   
  }
  
  
  
  
  .ParentpredictionWeatherContainer{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }