//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   display: flex;
   flex-direction: column;

   .wrapper{
    
    width: 100%;

    display: flex;

    border: 1px solid red;

   }
    
    
  }
  
  @mixin styles_tablets () {

    display: flex;
    flex-direction: column;
 
    .wrapper{
     
     width: 100%;
 
     display: flex;
 
     border: 1px solid red;
 
    }
   
  }
  
  @mixin styles_desktop () {

    display: flex;
    flex-direction: column;

    height: 30vh;

    
    border: 1px solid red;
 
    .predictionTittle{

     font-size: 18px;
    }

    .wrapper{

      width: 100%;
      height: 150px;

      display: flex;
      border: 1px solid red;
     

      .imageStatePredictionWeather{

        border: 1px solid red;

        width: 100px; 
        height: 75px;

        

        img{
          width: 90px;
          height: 70px;

          padding: 10px;
        }
      }
  
     
  }
  }
  
  
  
  
  .ParentpredictionWeatherContainer{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }