//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

/* @import 'bootstrap/scss/bootstrap'; */

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

   
    width: 100%;

    border: 1px solid yellow;

   .predictionTittleWrapper{

     p{
        margin: 0;
     }
   }

   .PredictionInfoStateWrapper{

      width: 100%;
      padding: 10px;

    p{
        margin: 0;
    }

    figure {

      height: 30px;
      width: 50px;

      img{

        width: 100%;
        height: auto;

      }

      border: 1px solid yellow;
    }

    border: 1px solid yellow;

   }

    
  }
  
  @mixin styles_tablets () {

      
    width: 100%;

    border: 1px solid yellow;

   .predictionTittleWrapper{

      p{
          margin: 0;
      }
    }

   .PredictionInfoStateWrapper{

      width: 100%;
      padding: 10px;

      p{
          margin: 0;
      }

      figure {

        height: 30px;
        width: 50px;

        img{

          width: 100%;
          height: auto;

        }

        border: 1px solid yellow;
      }

      border: 1px solid yellow;

    }  

   
  }

  
  @mixin styles_desktop () {

    width: 100%;

    border: 1px solid yellow;

   .predictionTittleWrapper{

      p{
          margin: 0;
      }
    }

   .PredictionInfoStateWrapper{

      width: 100%;
      padding: 10px;

      p{
          margin: 0;
      }

      figure {

        height: 30px;
        width: 50px;

        img{

          width: 100%;
          height: auto;

        }

        border: 1px solid yellow;
      }

      border: 1px solid yellow;

    }  
   
  }
  
  
  
  
  .predictionWeatherWrapper{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }